@import url(https://fonts.bunny.net/css?family=roboto:400,700);
@import "tailwindcss";

@theme {
  --color-common-1: #0C0C0C;
  --color-common-2: #FEFEFE;

  --color-main-1: #581C06;
  --color-main-2: #E48B82;

  --color-secondary-1: #D6C5A9;
  --color-secondary-2: #eddfcc;
  --color-secondary-3: #f6f5f2;

  --color-accent-valid: #32D392;
  --color-accent-action: #FFF36E;
}

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background-color: var(--color-secondary-3);
}
