@import url(https://fonts.bunny.net/css?family=roboto:400,700);
@import "tailwindcss";

@theme {
  --color-common-1: #0C0C0C;
  --color-common-2: #FEFEFE;

  --color-common-1-fade-1: rgba(12, 12, 12, 0.3);
  --color-common-1-fade-2: rgba(12, 12, 12, 0.2);
  --color-common-1-fade-3: rgba(12, 12, 12, 0.1);

  --color-placeholder-1: rgba(85, 85, 85);
  --color-placeholder-2: rgb(182, 182, 182);
  --color-placeholder-3: rgba(230, 230, 230);
  --color-placeholder-4: rgba(240, 240, 240);

  --color-main-1: #581C06;
  --color-main-2: #E48B82;

  --color-secondary-1: #D6C5A9;
  --color-secondary-2: #eddfcc;
  --color-secondary-3: #f6f5f2;

  --color-accent-valid: #32D392;
  --color-accent-valid-2: #2abc81;
  --color-accent-valid-3: #1ea16c;
  --color-accent-action: #FFF36E;
  --color-accent-red: #dd2222;

  --breakpoint-xs: 425px;
}

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background-color: var(--color-secondary-3);
  color: var(--color-common-1);
}

button {
  cursor: pointer;
}

input {
  color: var(--color-common-1);
}

input, button {
  outline: none;
}

input::placeholder {
  color: var(--color-placeholder-2);
}

a, .link {
  color: var(--color-blue-600);
  text-decoration: underline;
}

*:not(.disabled-transition) {
  transition: background-color ease-in-out 0.3s;
}

button, input {
  transition: background-color ease-in-out 0.1s;
}
